<h1>Introduce yourself</h1>
<p>Here you can tell us a little bit about yourself, why you love SPC so much, what got you into them, and how long you've loved them. We all have stories to share. Tell it all!</p>

<%= render 'posts/form', post: @post %>

<h1>Posts</h1>
<% @board1_posts.each do |post| %>
<p><%= post.title %></p>
<p><%= post.content %></p>
<p><%= post.user_id %></p>
<p><%= post.created_at %></p>
<% end %>
